.container {
  width: 100%;
  text-align: center;
}
footer.footer.mt-auto.py-3.bg-dark {
  /* width: 100%;
  left: 0;
  bottom: 0;
  position: sticky; */
  width: 100%;

  left: 0;
  bottom: 0;
  position: fixed;
  height: 50px;
  margin-top: -50px;
}
