<header class="p-3 mb-3 bg-dark border-bottom">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        align-items-center
        justify-content-center justify-content-lg-start
      "
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none"
        style="color: yellow"
      >
        <h3>Cake World</h3>
      </a>

      <ul
        class="
          nav
          col-12 col-lg-auto
          me-lg-auto
          mb-3
          justify-content-center
          mb-md-0
        "
      >
        <li
          *ngIf="
            currentUser == 'admin' ||
            (currentUser != 'customer' && currentUser != 'delivery')
          "
        >
          <a routerLink="/dashboard" class="nav-link px-2 link-dark"
            >Dashboard</a
          >
        </li>
        <li *ngIf="currentUser == 'delivery'">
          <a routerLink="/dashboard" class="nav-link px-2 link-dark"
            >Delivery Details</a
          >
        </li>
        <li *ngIf="currentUser != 'admin' && currentUser != 'delivery'">
          <a routerLink="/home" class="nav-link px-2 link-dark">Home</a>
        </li>
        <li
          *ngIf="
            currentUser == 'admin' ||
            (currentUser != 'customer' && currentUser != 'delivery')
          "
        >
          <a href="#" routerLink="/masters" class="nav-link px-2 link-dark"
            >Masters</a
          >
        </li>
        <li
          *ngIf="
            currentUser == 'admin' ||
            (currentUser != 'customer' && currentUser != 'delivery')
          "
        >
          <a href="#" routerLink="/user-list" class="nav-link px-2 link-dark"
            >Users</a
          >
        </li>
        <li
          *ngIf="
            currentUser == 'admin' ||
            currentUser == 'customer' ||
            currentUser != 'delivery'
          "
        >
          <a href="#" class="nav-link px-2 link-dark">Order-History</a>
        </li>
      </ul>

      <div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ greetingText }} {{ currentUser }}!
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#" routerLink="/">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
