<app-header></app-header>
<div class="container table-responsive">
  <table class="table">
    <caption>
      List of users
    </caption>
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User Name</th>
        <th scope="col">User Type</th>
        <th scope="col">Email</th>
        <th scope="col">City</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Admin</td>
        <td>mark@mail.com</td>
        <td>Chennai</td>
        <td>76345363637</td>
        <td>
          <a href="#" style="text-decoration: none">✏️</a>
          <a href="#" style="text-decoration: none">🗑</a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Antony</td>
        <td>Delivery Team</td>
        <td>antony@mail.com</td>
        <td>Madurai</td>
        <td>87656786567</td>
        <td>
          <a href="#" style="text-decoration: none">✏️</a>
          <a href="#" style="text-decoration: none">🗑</a>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Devi</td>
        <td>Customer</td>
        <td>devi@mail.com</td>
        <td>Trichy</td>
        <td>76345363637</td>
        <td>
          <a href="#" style="text-decoration: none">✏️</a>
          <a href="#" style="text-decoration: none">🗑</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>
