<app-header></app-header>
<div class="container">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="user-type-tab"
        data-bs-toggle="pill"
        data-bs-target="#user-type"
        type="button"
        role="tab"
        aria-controls="user-type"
        aria-selected="true"
      >
        User Type
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="cake-tab"
        data-bs-toggle="pill"
        data-bs-target="#cake"
        type="button"
        role="tab"
        aria-controls="cake"
        aria-selected="false"
      >
        Cake
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="payment-type-tab"
        data-bs-toggle="pill"
        data-bs-target="#payment-type"
        type="button"
        role="tab"
        aria-controls="payment-type"
        aria-selected="false"
      >
        Payment Type
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="payment-status-tab"
        data-bs-toggle="pill"
        data-bs-target="#payment-status"
        type="button"
        role="tab"
        aria-controls="payment-status"
        aria-selected="false"
      >
        Payment Status
      </button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="user-type"
      role="tabpanel"
      aria-labelledby="user-type-tab"
    >
      <div class="card card-body">
        <div class="row col-sm-12 col-md-12">
          <div class="col-sm-6 col-md-6">
            <input
              type="text"
              name=""
              id=""
              placeholder="User Type"
              class="form-control"
            />
          </div>
          <div class="col-sm-4 col-md-4">
            <button class="btn btn-primary" type="submit">Add</button>
          </div>
        </div>
        <br />
        <div class="row col-sm-12 col-md-12">
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">User Type</th>
                <th scope="col">Created On</th>
                <th scope="col">Created By</th>
                <th scope="col">Updated On</th>
                <th scope="col">Updated By</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Admin</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>
                  <a href="#" style="text-decoration: none">✏️</a>
                  <a href="#" style="text-decoration: none">🗑</a>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Customer</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>
                  <a href="#" style="text-decoration: none">✏️</a>
                  <a href="#" style="text-decoration: none">🗑</a>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Delivery Team</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>
                  <a href="#" style="text-decoration: none">✏️</a>
                  <a href="#" style="text-decoration: none">🗑</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="cake"
      role="tabpanel"
      aria-labelledby="cake-tab"
    >
      <div class="card card-body">
        <div class="row col-sm-12 col-md-12">
          <div class="col-sm-3 col-md-3">
            <input
              type="text"
              name=""
              id=""
              placeholder="Cake Type"
              class="form-control"
            />
          </div>
          <div class="col-sm-3 col-md-3">
            <input
              type="text"
              name=""
              id=""
              placeholder="Cake Shape"
              class="form-control"
            />
          </div>
          <div class="col-sm-3 col-md-3">
            <input
              type="text"
              name=""
              id=""
              placeholder="Cake Flavour"
              class="form-control"
            />
          </div>
          <div class="col-sm-3 col-md-3">
            <button class="btn btn-primary" type="submit">Add</button>
          </div>
        </div>
        <br />
        <div class="row col-sm-12 col-md-12">
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Cake Type</th>
                <th scope="col">Cake Shape</th>
                <th scope="col">Cake Flavour</th>
                <th scope="col">Created On</th>
                <th scope="col">Created By</th>
                <th scope="col">Updated On</th>
                <th scope="col">Updated By</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>BlackForest</td>
                <td>Circle</td>
                <td>Choclate</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>
                  <a href="#" style="text-decoration: none">✏️</a>
                  <a href="#" style="text-decoration: none">🗑</a>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>BlackForest</td>
                <td>Venilla</td>
                <td>Choclate</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>
                  <a href="#" style="text-decoration: none">✏️</a>
                  <a href="#" style="text-decoration: none">🗑</a>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>BlackForest</td>
                <td>Circle</td>
                <td>Choclate</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>
                  <a href="#" style="text-decoration: none">✏️</a>
                  <a href="#" style="text-decoration: none">🗑</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="payment-type"
      role="tabpanel"
      aria-labelledby="payment-type-tab"
    >
      <div class="card card-body">
        <div class="row col-sm-12 col-md-12">
          <div class="col-sm-3 col-md-3">
            <input
              type="text"
              name=""
              id=""
              placeholder="Cake Type"
              class="form-control"
            />
          </div>
          <div class="col-sm-3 col-md-3">
            <input
              type="text"
              name=""
              id=""
              placeholder="Cake Shape"
              class="form-control"
            />
          </div>
          <div class="col-sm-3 col-md-3">
            <input
              type="text"
              name=""
              id=""
              placeholder="Cake Flavour"
              class="form-control"
            />
          </div>
          <div class="col-sm-3 col-md-3">
            <button class="btn btn-primary" type="submit">Add</button>
          </div>
        </div>
        <br />
        <div class="row col-sm-12 col-md-12">
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Payment Type</th>
                <th scope="col">Created On</th>
                <th scope="col">Created By</th>
                <th scope="col">Updated On</th>
                <th scope="col">Updated By</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Cash On Delivery</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>
                  <a href="#" style="text-decoration: none">✏️</a>
                  <a href="#" style="text-decoration: none">🗑</a>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>UPI</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>
                  <a href="#" style="text-decoration: none">✏️</a>
                  <a href="#" style="text-decoration: none">🗑</a>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Credit Card</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>
                  <a href="#" style="text-decoration: none">✏️</a>
                  <a href="#" style="text-decoration: none">🗑</a>
                </td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Debit Card</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>
                  <a href="#" style="text-decoration: none">✏️</a>
                  <a href="#" style="text-decoration: none">🗑</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="payment-status"
      role="tabpanel"
      aria-labelledby="payment-status-tab"
    >
      <div class="card card-body">
        <div class="row col-sm-12 col-md-12">
          <div class="col-sm-6 col-md-6">
            <input
              type="text"
              name=""
              id=""
              placeholder="Payment Status"
              class="form-control"
            />
          </div>
          <div class="col-sm-4 col-md-4">
            <button class="btn btn-primary" type="submit">Add</button>
          </div>
        </div>
        <br />
        <div class="row col-sm-12 col-md-12">
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Payment Status</th>
                <th scope="col">Created On</th>
                <th scope="col">Created By</th>
                <th scope="col">Updated On</th>
                <th scope="col">Updated By</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Paid</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>
                  <a href="#" style="text-decoration: none">✏️</a>
                  <a href="#" style="text-decoration: none">🗑</a>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Unpaid</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>July 8,2021</td>
                <td>Admin</td>
                <td>
                  <a href="#" style="text-decoration: none">✏️</a>
                  <a href="#" style="text-decoration: none">🗑</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
