div#card {
  color: white;
  background: linear-gradient(to right, #780206, #061161);
  height: 100px;
  width: 200px;
  border-radius: 21px;
  margin: 5px;
  text-align: center;
}
.progress-bar {
  background-color: #4caf50;
}

p {
  margin-top: 13px;
}
